.container-home{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 200px;
}

.container-flex-home{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.container-flex-home.text{
    align-items: flex-start;
}

.container-flex-home a.button-saibamais{
    width: 220px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    background-color: #E82E2B;
    font-size: 18px;
    color: white;
}

.container-flex-home a.button-saibamais:hover{
    background-color: #e64f4c;
    text-decoration: none;
}

.carousel{
    border-radius: 5px;
    overflow: hidden;
}

.container-flex-home img{
    width: 100%;
    max-width: 380px;
}

@media screen and (max-width: 768px){
    .container-home{
        flex-direction: column;
        justify-content: center;
        margin-top: 80px;
    }

    .container-flex-home{
        width: 90%;
    }

    .container-flex-home.text{
        align-items: center;
    
    }
}

.d-block    {
    width: 400px;
}