.form-section{
    width: 100%;
    height: 600px;
}

.form-section.contato{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../components/images/contatobg.jpg');
    background-position: center;
    background-size: cover;
    color: white;
}

.form-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-container h2{
    margin-top: -60px;
    margin-bottom: 20px;
    color: #edaf44;
}

form{
    width: 100%;
    max-width: 380px;
    background-color: white;
    padding: 0px;
    border-radius: 10px;
    color: black;
    border: 1px solid #ccc;
    padding: 0;
    /* overflow: hidden; */
}

form .inputs-container{
    padding: 20px;
}

.form-control:focus{
    outline: none;
    /* border: 2px solid #E9C46A; */
}

.button-enviar{
    border: none;
    background-color: #E63946;
    transition: 200ms;
    border-radius: 0;
    width: 100%;
    height: 45px;
}

.button-enviar:hover{
    background-color: #333;
}