.form-section.cadmediador{
    width: 100%;
    height: 750px;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../components/images/image-mediador.jpg');
    background-position: center;
    background-size: cover;
}