.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 380px;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('.././images/sppattern.png');
    background-position: center;
    background-size: cover;
    color: white;
    background-color: #E82E2B;
}

.banner img{
    width: 60%;
}

.icon-demanda{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: -40px;
    right: 48px;
}

.icon-demanda svg{
    font-size: 60px;
    color: #E82E2B;
    transition: 200ms;
}

.icon-demanda svg:hover{
    color: #e64f4c;
}

.section-demandas .container{
    display: flex;
    flex-direction: column;
}

.container hr{
    width: 100%;
}

.container-demandas-d{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -120px;
}

.demandas{
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-demandas-d h2{
    text-align: center;
}

@media screen and (max-width: 768px){
    .banner{
        text-align: center;
    }

    .icon-demanda{
        justify-content: center;
        margin: 0 auto;
        display: inline-block;
        position: initial;
        margin-bottom: 20px;
    }
}