.section-demandas h2{
    margin-top: 20px;
    text-align: center;
}

.container-cad-demandas{
    width: 100%;
    display: flex;
    align-items: center;
}

.container-cad-demandas h2{
    max-width: 50%;
}

.container-cad-demandas .button-demandas{
    width: 200px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background-color: #E63946;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

.section-demandas .container{
    display: flex;
    flex-direction: column;
}

.container hr{
    width: 100%;
}

.container-demandas{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.demandas{
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-demandas h2{
    text-align: center;
}

@media screen and (max-width: 768px){
    .container-cad-demandas{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .container-cad-demandas h2{
        max-width: 100%;
    }

    .container-cad-demandas, .section-demandas h2{
        font-size: 30px;
    }
}