.navbar{
    padding: 0;
    /* height: 70px; */
    align-items: center;
    box-shadow: 1px 0 5px #000;
}

.navbar .navbar-nav .nav-link{
    line-height: 70px;
    border-bottom: 2px solid transparent;
    color: #000;
    padding: 0 .5rem;
}

.navbar .navbar-nav .nav-link:hover{
    border-bottom: 2px solid #E63946;
    color: #000;
}

.link-login{
    display: flex;
    align-items: center;
}

.link-login ion-icon{
    padding-left: 5px;
}

.navbar-nav{
    align-items: center;
}