
.navbar{
    padding: 0;
    align-items: center;
    background-color: black;  

}

.navbar-brand img{
    width: 100%;
    max-width: 220px;
}

.navbar .navbar-nav .nav-link{
    line-height: 70px;
    border-bottom: 2px solid transparent;
    color: rgb(255, 255, 255);
    padding: 0 .5rem;
}

.navbar .navbar-nav .nav-link:hover{
    border-bottom: 2px solid #EDAF44;
    color: #EDAF44;
}

.navbar .navbar-nav .nav-link.link-login{
    padding-left: 25px;
}

.link-login{
    display: flex;
    align-items: center;
}

.link-login ion-icon{
    padding-right: 5px;
    color: #fff;
}

.navbar-nav{
    align-items: center;
}

.navbar-dark .navbar-toggler{
    border: 1px solid #fff;
    border-radius: 5px;
}

.dropdown-menu {
    width: 500px;
    border-radius: 0%;
}

.inputs-container {
    border: 0px;
}

form{
    border: 0px ;
}