.navbar{
    background-color: #003049;
    padding: 0;
    height: 60px;
    display: flex;
    align-items: center;
}
/* 
.container{
    max-width: 1080px;
} */

.button-login{
    width: 65px;
    height: 35px;
    background-color: #E63946;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    transition: 200ms;
    margin-left: 10px;
}

.button-login:hover{
    background-color: #fc505e;
}

.nav-links{
    height: 60px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 60px;
}

.nav-links-dropdown{
    display: flex;
    height: 60px;
    align-items: center;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
}

.nav-links.active{
    border-bottom: 2px solid #E9C46A;
}

.nav-links:hover{
    border-bottom: 2px solid #E9C46A;
}

.nav-links-dropdown:hover{
    border-bottom: 2px solid #E9C46A;
    color: white;
}

.navbar-nav{
    background-color: #003049;
    text-align: center;
}

ion-icon {
    color: white;
   padding-top:12px ;
    margin-left: 50px;
    margin-right: 10px;
  }
