.form-section.cadastro {
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../components/images/loginbg.jpg');
    background-position: center;
    background-size: cover;
    color: white;
}