.section-quemsomos{
    flex-direction: column;

}

.titulo{
    height: 500px;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../components/images/iniciativa-da-populacao.jpg');
    background-size: cover;
    background-position:inherit;
    color: white;
    display: flex;
    align-content: space-around;
    align-items: center;
}
.text-mission{
    background-color: #edaf44;
}

.vision-text{
    background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../../components/images/missao.jpeg');
    opacity: 0.8;
    background-size: cover;
    color: white;
}

.container-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.container-team h2{
    margin-bottom: 20px;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.card{
    background-image: '../images/fundocard.jpg';
    align-items: center;
    text-align: center;
    padding: .75rem;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #ccc;
    
}

.card .foto{
    width: 100px;
    height: 100px;
    border: 2px solid #E82E2B;
    border-radius: 50%;
    margin-bottom: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 10px auto;
}

.foto-perfil{
    width: 171px;
    height: 180px;
    align-self: center;
}

.nopic{
    font-size: 60px;
}

.card .line{
    width: 80px;
    height: 5px;
    background-color: #E82E2B;
    border-radius: 40px;
    margin-bottom: .75rem;
    display: inline-block;
}

.card-link{
    font-size: 30px;
    color: #E82E2B;
}

.card-link:hover{
    color: #e64f4c;
}

@media screen and (max-width: 768px){
    .container-goal{
        flex-direction: column;

    }

    .container-flex-qs{
        width: 90%;
    }
}
