:root{
    --colorRed: #E52931;
}

.section-home{
    width: 100%;
    padding: 120px 0;
    background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../../components/images/contatobg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
}

.container-home{
    display: flex;
    align-items: center;
}

.container-flex-home{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.container-flex-home.text{
    align-items: flex-start;
}

.container-flex-home.text p{
    font-weight: 200;
}

.container-flex-home a.button-saibamais{
    width: 220px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    background-color: var(--colorRed);
    font-size: 18px;
    color: white;
}

.container-flex-home a.button-saibamais:hover{
    background-color: #e64f4c;
    text-decoration: none;
}

.carousel{
    border-radius: 5px;
    overflow: hidden;
}

.container-flex-home img{
    width: 100%;
    max-width: 380px;
}

.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 2%;
}

.container-flex.row-reverse{
    flex-direction: row-reverse;
}

.title-projetos{
    width: 100%;
    text-align: center;
    padding: 40px 0 0 0;
}

.img-container{
    width: 100%;
    max-width: 380px;
}

.img-container img{
    width: 100%;
    max-width: 100%;
}

@media screen and (max-width: 768px){
    .container-home{
        flex-direction: column;
        justify-content: center;
        margin-top: 80px;
    }

    .container-flex-home{
        width: 90%;
    }

    .container-flex-home.text{
        align-items: center;
    
    }

    .container-flex-home.text h2{
        font-size: 30px;
    }

    .container-flex, .container-flex, .container-flex.row-reverse{
        flex-direction: column;
    }
}

.d-block    {
    width: 400px;
}