.container-home{
    display: flex;
    height: calc(100vh - 60px);
}

.container-flex{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.container-flex.text{
    align-items: flex-start;
}

.container-flex a{
    width: 220px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 10px;
    background-color: #E63946;
    font-size: 18px;
    color: white;
}

.container-flex a:hover{
    background-color: #e6525f;
    text-decoration: none;
}

.container-flex img{
    width: 100%;
    max-width: 340px;
}

@media screen and (max-width: 768px){
    .container-flex{
        width: 90%;
    }

    .container-flex.text{
        align-items: center;
    }
}