.demandas .card-demanda{
    box-shadow: none;
    border: 1px solid rgb(179, 179, 179);
    height: 320px;
}


.card-demanda-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.button{
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: transparent;
    border: 2px solid #E82E2B;
    color: #000;
    border-radius: 5px;
    font-size: 18px;
    display: inline-block;
    transition: 200ms;
}

.button:hover{
    background-color: #E82E2B;
    text-decoration: none;
    color: white;
}
