footer{
    width: 100%;
    max-width: 100%;
}

.footer-container{
    width: 100%;
    padding: 20px 20px;
    background-color: #000;
}

.footer-items{
    width: 100%;
    display: flex;
    align-items: center;
    
}
.footer-links ul{
    list-style-type: none;
    margin: 0;
    padding-left: 100%;

}

.footer-links a{
    text-decoration: none;
    color: white;
    font-weight: 350;

}

.footer-links li{
    align-content: center;
}

.footer-links .btn-entrar{
    width: 140px;
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    background-color: #EDAF44;
}

.footer-links a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 475px){
    .footer-items{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
}

.newsletter{
    display:block;
    margin: 0;
    background-color: black;
    border: 0;
    align-content:space-between;
}

form{
    display: inline-flexbox;
    background-color: black;
    padding-left: 0px;
    width: 200%;
    max-width: 100%;
}
.form-row{
    
    padding-left: 0px;
}

.newsletter{
    width: 400px;
}