.section-mediador{
    display: flex;
}

.container-flex-med{
    width: 50%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
}

.container-flex-med.sejamediador{
    background-color: #E63946;
    max-width: 100%;
    color: white;
}

.container-flex-med .button{
    background-color: #003049;
    align-self: start;
}

.container-flex-med .button:hover{
    background-color: #024468;
}

@media screen and (max-width: 768px){
    .section-mediador{
        flex-direction: column;
    }

    .container-flex-med{
        width: 100%;
    }
}