.main-section{
    width: 100%;
    background-color: white;
    color: black;
}

.flex-container{
    padding: 80px 0;
}

.team{
    background-color: white;
    color: black;
}

.img-container img{
    width: 100%;
    max-width: 480px;
}

.main-section.goal > .container > .img-container img{
    width: 100%;
    max-width: 400px;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text-container h2{
    font-size: 45px;
}

.text-container p{
    font-size: 25px;
    font-weight: 200;
    max-width: 480px;
}

@media screen and (max-width: 980px){
    .flex-container{
        flex-direction: column;
    }

    .text-container{
        text-align: center;
    }

    .text-container h2{
        font-size: 35px;
    }

    .text-container p {
        font-size: 25px;
    }
}